.album-info {
  .image-cover {
    overflow: hidden;
    height: 200px;
    width: 200px;

    .album-image {
      max-width: 200px;
      max-height: 200px;
      transition: 1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }

  .album-description {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;

    .album-name {
      margin: 10px 0 0 0;
      font-weight: 500;
    }

    .album-artist {
      margin: 0 0 0 0;
      font-weight: 400;
      font-size: 12px;
      font-style: italic;
    }
  }
}
