#nav-bar {
  position: relative;
  z-index: 50;
  #nav {
    position: relative;
    background: black;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
      color: #fefefe;
      font-weight: bold;
    }

    a {
      font-size: 14px;
      font-weight: bold;
      color: #fefefe;
      text-decoration: none;

      &.router-link-exact-active {
        color: #e91e63;
      }
    }
  }

  .profile-image {
    height: 45px;
    width: 45px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: #e91e63 solid 3px;
    }
  }

  @media screen and (max-width: 768px) {
    #nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      max-height: 30px;
    }

    .profile-image {
      position: fixed;
      top: 5%;
    }
  }
}
