.top-songs {
  background: linear-gradient(0deg, black, #191414);
  padding: 100px 10px;

  .container {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    .country-select {
      display: flex;
      color: white;
    }
    .flex-track {
      display: flex;
      flex-wrap: nowrap;
      margin: 0 auto 10px auto;
      border-radius: 5px;
      padding: 5px 20px 5px 0;
      max-height: 70px;
      align-items: center;
      overflow: hidden;
      background: white;
      cursor: pointer;

      .track-image {
        max-width: 90px;
        margin-right: 20px;
        img {
          width: 100%;
          display: block;
        }
      }
      .track-name {
        color: black;
      }
    }
  }
}
