.albums {
  background: linear-gradient(271deg, black, #212121);
  color: #fefefe;
  padding: 50px 0;

  .auth {
    margin: 0 auto;

    .input-token {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;
    }

    p {
      text-align: center;
      color: #fefefe;
    }
  }

  .flex-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .album-card {
      max-width: 200px;
      margin-bottom: 50px;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;

      .album-modal {
        max-height: 500px;
        max-width: 1000px;
        width: 100%;
        height: 100%;
        z-index: 10;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        transition: 1s;

        .flex-modal {
          display: flex;
          position: relative;
          height: 100%;
          width: 100%;
          overflow: hidden;
          box-shadow: #212121 5px 5px 20px;

          .flex-left {
            position: absolute;
            left: 0;
            max-width: 50%;
            max-height: 50vw;
            height: 100%;
            width: 100%;
            overflow: hidden;

            .img-modal {
              width: 100%;
              height: 100%;
              transition: 5s;
              overflow: hidden;
              object-fit: cover;
            }
          }

          .flex-right {
            position: absolute;
            right: 0;
            max-width: 50%;
            max-height: 50vw;
            height: 100%;
            width: 100%;
            background: #fefefe;
            overflow-x: hidden;
            overflow-y: scroll;

            .info-album {
              text-align: left;
              padding: 0 50px 0 0;

              h1,
              h2,
              h3,
              ul,
              li {
                color: #212121;
                margin-left: 20px;
              }

              li {
                margin: 10px 0;
              }
            }
          }

          .btn-close-modal {
            position: absolute;
            top: 20px;
            right: 20px;
            outline: none;
            border: none;
            background: #212121;
            color: #fefefe;
            border-radius: 0;
            height: 30px;
            width: 30px;
            transition: 0.2s;
            cursor: pointer;
            z-index: 999;

            &:hover {
              color: #212121;
              background: #fefefe;
              border: 1px solid #212121;
              transition: 0.2s;
            }
          }
        }

        p {
          color: #212121;
        }
      }

      .album-modal.active {
        display: block;
        transition: 1s;
      }

      p {
        text-align: center;
      }

      .image-cover {
        overflow: hidden;
        height: 200px;
        width: 200px;

        .album-image {
          max-width: 200px;
          max-height: 200px;
          transition: 1s;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            transition: 0.5s;
          }
        }
      }

      .album-description {
        margin-top: 5px;
        font-size: 14px;

        .album-name {
          margin: 0;
          font-weight: 500;
        }

        .album-artist {
          margin: 0px 0 0 0;
          font-weight: 400;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }

  .user-name {
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .albums {
    padding-top: 10px;

    p {
      color: white;
      text-transform: lowercase;
      font-weight: bold;
    }

    .flex-cards {
      .album-card {
        .album-modal {
          height: 200px;
          width: 300px;
          height: 100%;
          z-index: 10;
          position: fixed;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          top: 45%;
          transform: translateY(-50%);
          display: none;
          transition: 1s;

          .flex-modal {
            display: flex;
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
            box-shadow: #212121 5px 5px 20px;

            .flex-left {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              max-width: 100%;
              max-height: 50%;
              height: 100%;
              width: 100%;
              overflow: hidden;

              .img-modal {
                width: 100%;
                height: 100%;
                transition: 5s;
                overflow: hidden;
                object-fit: cover;
              }
            }

            .flex-right {
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              max-width: 100%;
              max-height: 50%;
              height: 100%;
              width: 100%;
              background: #fefefe;
              overflow-y: scroll;
              overflow-x: hidden;

              .info-album {
                text-align: left;
                padding: 0 50px 0 0;

                h1,
                h2,
                h3,
                ul,
                li {
                  color: #212121;
                  margin-left: 20px;
                }
              }
            }

            .btn-close-modal {
              position: absolute;
              right: 0;
              top: 0;
              margin: 10px;
              outline: none;
              border: none;
              background: #212121;
              color: #fefefe;
              border-radius: 0;
              height: 30px;
              width: 30px;
              transition: 0.2s;
              cursor: pointer;
              z-index: 999;

              &:hover {
                color: #212121;
                background: #fefefe;
                border: 1px solid #212121;
                transition: 0.2s;
              }
            }
          }

          p {
            color: #212121;
          }
        }

        .album-modal.active {
          display: block;
          transition: 1s;
        }

        p {
          text-align: center;
        }

        .image-cover {
          overflow: hidden;
          height: 200px;
          width: 200px;

          .album-image {
            max-width: 200px;
            max-height: 200px;
            transition: 1s;
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              transition: 0.5s;
            }
          }
        }

        .album-description {
          margin-top: 5px;
          font-size: 14px;

          .album-name {
            margin: 0;
            font-weight: 500;
          }

          .album-artist {
            margin: 0px 0 0 0;
            font-weight: 400;
            font-size: 12px;
            font-style: italic;
          }
        }
      }
    }

    .user-name {
      margin-left: 40px;
      margin-bottom: 50px;
    }
  }
}
