.profile-screen {
  padding-bottom: 100px;
}

/deep/ {
  button {
    transition: 1s;
    outline: none;
    border: 2px solid black;
    border-radius: 0;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      color: #e91e63;
    }
    &.is-active {
      background-color: black;
      color: white;
      transition: 0.3s;
      &:hover {
        color: #e91e63;
        border: 2px solid black;
      }
    }
  }
}