.home-screen {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 61px);
  width: inherit;

  .img-playback {
    overflow: hidden;

    .current-song-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      position: absolute;
      z-index: 0;
    }
  }

  .control-buttons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    button {
      outline: none;
      border-radius: 0;
      border: 0;
      margin: 0 50px;
      height: 50px;
      width: 50px;
      background-size: contain;
      filter: invert(100%);
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.05);
        transition: 0.2s;
      }
    }
    .prev-song {
      background: url("../../assets/prev.svg");
    }
    .next-song {
      background: url("../../assets/next.svg");
    }
    .play {
      background: url("../../assets/play.svg");
    }
    .pause {
      background: url("../../assets/pause.svg");
    }
  }
}

@media screen and (min-width: 1023px) {
  .home-screen {
    max-height: 100vh;
    overflow: hidden;
    background: linear-gradient(0deg, black, #191414);
    .img-playback {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      height: calc(600px);
      .current-song-img {
        position: relative;
        height: 600px;
        width: 600px;
        object-fit: cover;
        opacity: 0;
        animation: rotateDisc 75s linear infinite, showDisc 5s forwards;
        border-radius: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        height: 74px;
        width: 74px;
        background: black;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow:
                inset 0 0 0 4px white,
                inset 0 0 0 4px black,
                inset 0 0 0 20px rgba(255, 255, 255, 0.1);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-screen {
    height: 100vh;
  }
}

@keyframes rotateDisc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showDisc {
  to {
    opacity: 1;
  }
}
