@mixin growCurrentTrack() {
  animation: grow 0.5s ease-in;
  @keyframes grow {
    from {
      right: -500px;
    }
    to {
      right: 0px;
    }
  }
}

.home-screen {
  overflow: hidden;
  position: relative;
  height: 100vh;
  widows: 100vw;
  .img-playback {
    overflow: hidden;
    .current-song-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      position: absolute;
      z-index: 0;
    }
  }
  .current-info {
    background: #e91e63;
    position: absolute;
    top: 380px;
    z-index: 5;
    text-align: center;
    color: white;
    padding: 20px 30px;
    max-width: 80%;
    right: 0;
    box-shadow: 7px 7px black;
    @include growCurrentTrack();
    h2,
    p {
      margin: 0;
    }
  }
  button {
    transition: 1s;
    outline: none;
    border: 2px solid black;
    border-radius: 0;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      color: #e91e63;
    }
    &.is-active {
      background-color: black;
      color: white;
      transition: 0.3s;
      &:hover {
        color: #e91e63;
        border: 2px solid black;
      }
    }
  }
  .next-song {
    position: absolute;
    z-index: 5;
    bottom: 70px;
    right: 50px;
  }
  .prev-song {
    position: absolute;
    z-index: 5;
    bottom: 70px;
    left: 50px;
  }
}
